.content-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;

  .slider {
    width: 80rem;
    background: #E7F5F6;
    position: relative;
  }

  .slick-container {
    width: 100%;
    float: left;
    overflow: hidden;
  }

  .card-box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .tiles {
      background: #F6F6F6;
      width: 55%;
      height: 40%;
      box-shadow: 0 0 10px rgba(0,0,0,.4);
      border-radius: 10px;

      .image-contaier {
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          width: 5rem;
          height: 5rem;
        }
      }
      .label-container {
        position: relative;

        .label {
          text-align: center;
        }

        .bottom-line {
          height: .5rem;
          background: #FFC13C;
          width: 100%;
          position: absolute;
          bottom: 0;
          visibility: hidden;
        }

        .start-btn {
          font-size: 14px;
          text-align: center;
          visibility: hidden;

          .start-btn-logo {
            font-size: 12px;
          }
        }
      }
    }
  }

  .icon {
    cursor: pointer;
  }
  .left-arrow-btn {
    left: 0;
    margin-left: 18%;
    margin-top: 16%;
    position: absolute;
  }
  .right-arrow-btn {
    right: 0;
    margin-right: 18%;
    margin-top: 16%;
    position: absolute;
  }
  .title-container {
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 10rem;
    margin-top: 6rem;
    font-size: 1.8rem;
  }
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title-container {
    visibility: hidden;
  }
  .left-arrow-btn {
    margin-top: 0px !important;
    margin-bottom: 10% !important;
    bottom: 0;
  }
  .right-arrow-btn {
    margin-top: 0px !important;
    margin-bottom: 10% !important;
    bottom: 0;
  }
}
