<div class="container-lg container-md content-container">
  <ngx-slick-carousel class="carousel slider"
                      #slickModal="slick-carousel"
                      [config]="slideConfig"
                      (beforeChange)="beforeChangeEvent($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <div class="card-box">
        <div class="tiles">
          <div class="image-contaier w-100">
            <img src="assets/images/cross-image.png">
          </div>
          <div class="label-container w-100 h-50">
            <div class="bottom-line"></div>
            <div class="label pt-5">
              {{slide.title}}
            </div>
            <div class="start-btn pt-5">
              START HERE<span class="start-btn-logo pl-3"><i class="fa fa-chevron-right " aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <span class="icon left-arrow-btn" (click)="slickModal.slickGoTo(currnetSlideIndex - 1)">
    <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
  </span>
  <span class="icon right-arrow-btn" (click)="slickModal.slickGoTo(currnetSlideIndex + 1)">
    <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
  </span>
  <span class="title-container">
    What are you<br><span class="font-weight-bold">here to do?</span>
  </span>
</div>
