@import "~bootstrap/dist/css/bootstrap.css";

/*Active slide CSS*/
.slick-current {
  .tiles {
    height: 70% !important;
    width: 96% !important;
    font-size: 2rem;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) !important;

    .image-contaier {
      img {
        width: 10rem !important;
        height: 10rem !important;
      }
    }

    .bottom-line {
      visibility: visible !important;
    }
    .start-btn {
      visibility: visible !important;
    }
  }
}

